
@font-face {
  font-family: 'FuturaLight';
  src: url('FuturaLight.eot?#iefix') format('../fonts/embedded-opentype'),  url('../fonts/FuturaLight.woff') format('woff'), url('../fonts/FuturaLight.ttf')  format('truetype'), url('../fonts/FuturaLight.svg#FuturaLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
